body {
  font-family: arial, sans-serif;
  background-color: #f6f7bc;
}

h1 {
  color: #070606;

  font-size: 24px;
  font-weight: 600;

  line-height: 28px;
  margin-top: 30px;
  margin-bottom: 15px;
}
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  color: rgb(135, 135, 135);
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: 100;

  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

.weather-app-wrapper {
  max-width: 770px;
  margin: 30px auto;
}

.weather-app {
  background-color: #ffffff;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 15px;
  margin-top: 60px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature {
  margin: 0;
  position: absolute;
  top: 30%;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-size: 64px;
  font-weight: 400;
  line-height: 64px;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-size: 16px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-size: 13px;
}

.logo {
  margin-bottom: 30px;
}

.search-input {
  background-color: #f6f7bc;
}
